.scpl-title {
	text-anchor: middle;
}

.scpl-circle {
	fill: #bdbdbd;
	fill-opacity: 0.5;
}

.scpl-label {
	text-anchor: middle;
}

.scpl-best-fit {
	stroke: black;
	stroke-width: 1;
}

.scpl-axis {
	stroke: #777;
	stroke-width: 1;
}

.scpl-gridline {
	stroke: #bdbdbd;
	stroke-width: 1;
	stroke-dasharray: 1,1;
}

.scpl-axis__label--x {
	text-anchor: middle;
}

.scpl-axis__label--y {
	text-anchor: end;
}

.sclp-axis__label--y.scpl-axis__label--y--inset {
	text-anchor: start;
}

.scpl-axis__title {
	text-anchor: middle;
}

.scpl-voronoi {
	fill: none;
	stroke: none;
	pointer-events: all;
}